[submodule "air_hockey"]
    path = air_hockey
    url = https://bitbucket.org/akhmed-rakhmati/air_hockey
[submodule "gym-air_hockey"]
    path = gym-air_hockey
    url = https://bitbucket.org/akhmed-rakhmati/gym-air_hockey
