[submodule "air-hockey"]
    path = air-hockey
    url = https://github.com/arakhmat/air-hockey
[submodule "gym-air-hockey"]
    path = gym-air-hockey
    url = https://github.com/arakhmat/gym-air-hockey
[submodule "perception"]
	path = perception
	url = https://github.com/arakhmat/perception
