[submodule "air-hockey"]
    path = air-hockey
    url = https://bitbucket.org/akhmed-rakhmati/air-hockey
[submodule "gym-air-hockey"]
    path = gym-air-hockey
    url = https://bitbucket.org/akhmed-rakhmati/gym-air-hockey
[submodule "Perception"]
    path = Perception
    url = https://bitbucket.org/akhmed-rakhmati/Perception
